@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<h2>@ViewData["Message"]</h2>

<p>Use esta página para saber mais detalhes sobre @ViewData["Message"].</p>

<address>
    <strong>
        More information: 
        <a href="http://educandoweb.com.br">Educandoweb.com.br</a>
    </strong>
</address>